html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }
  
  .demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
  }
  .mdl-layout__drawer .avatar {
    margin-bottom: 16px;
  }
  .demo-drawer {
    border: none;
  }
  /* iOS Safari specific workaround */
  .demo-drawer .mdl-menu__container {
    z-index: -1;
  }
  .demo-drawer .demo-navigation {
    z-index: -2;
  }
  /* END iOS Safari specific workaround */
  .demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 16px;
    height: 65px;
  }
  
  .demo-navigation {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgb(240, 98,146);
    font-weight: 500;
  }
  .demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: #f06292;
    margin-right: 32px;
  }
  
  .demo-content {
    max-width: 1080px;
  }

  .H1 {
    text-align:center;
    color: #e91e63;
  }

  .switch{
    text-align:center;
   
  }
  .radio_buttons2{
    text-align:center;
    display:none;
  }

  .frame {
    fill: none;
    stroke: #aaa;
  }
  